*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}
.position-app{
  display:flex;
  align-items:center;
  justify-content:center;
  height:100dvh;
  background: hsl(199, 46%, 86%);
}
.quiz-app{
  width:100%;
  background:white;
  padding:.5rem;
  border-radius:.5rem;
  display:flex;
  flex-direction:column;
  max-width:50rem;
  color:white;
  gap:.5rem;
}
.question{
  text-align:center;
  text-justify:center;
  width:100%;
  height:10rem;
  background:white;
  background:rgb(29, 39, 41);
  padding:2rem;
  border-radius: 10px;
  font-family:Arial, Helvetica, sans-serif;
  padding:1.5rem;
}
.options-section{
  display:flex;
  flex-direction:column;
  gap:.5rem;
}
.options-section button{
  font-family:Arial, Helvetica, sans-serif;
  background:#1c8d9e;
  padding:1rem;
  border-radius:10px;
  font-size:1rem;
  cursor:pointer;
  border:none;
  outline:none;

}
.previous-next{
  display:flex;
  justify-content:space-between;
}
.previous-next button{
  font-size:1rem;
  padding:.8rem;
  background:#010310;
  color:white;
  border-radius:10px;
  border:none;
  outline: none;
  cursor:pointer;

}
.options-section button:hover {
  background:#23aec4;
} button:active {
  background:#21a5b9;
}

